.menu-item {
  align-items: center;
  border: 1px solid black;
  display: flex;
  flex: 1 1 auto;
  height: 240px;
  justify-content: center;
  margin: 0 7.5px 15px;
  min-width: 30%;
  overflow: hidden;
  position: relative;

  &--large {
    height: 380px;
  }

  &:hover {
    cursor: pointer;

    & .background-image {
      transform: scale(1.1);
      transition: transform 6s cubic-bezier(0.25, 0.45, 0.45, 0.95);
    }

    & .content {
      background-color: rgba(255, 255, 255, 0.9);
      transition: background-color 0.2s linear;
    }
  }
}

.background-image {
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.content {
  align-items: center;
  background-color: rgba(255, 255, 255, 0.7);
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  height: 90px;
  justify-content: center;
  padding: 0 25px;
  position: absolute;
}

.title {
  color: #4a4a4a;
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 6px;
  margin-top: 0;
  text-transform: uppercase;
}

.subtitle {
  font-size: 16px;
  font-weight: lighter;
}
