.cart {
  align-items: center;
  cursor: pointer;
  display: flex;
  height: 45px;
  justify-content: center;
  position: relative;
  width: 45px;
}

.shopping-icon {
  height: 24px;
  width: 24px;
}

.item-count {
  bottom: 12px;
  font-size: 10px;
  font-weight: bold;
  position: absolute;
}
