.collection-item {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 350px;
  width: 22vw;
  position: relative;
  margin-bottom: 30px;
}

.image {
  background-position: center;
  background-size: cover;
  height: 95%;
  margin-bottom: 5px;
  width: 100%;

  .collection-item:hover & {
    opacity: 0.8;
  }
}

.footer {
  display: flex;
  font-size: 18px;
  height: 5%;
  justify-content: space-between;
  line-height: 18px;
  width: 100%;
}

.name {
  flex-grow: 1;
}

[class^='CustomButton'] {
  .collection-item & {
    width: 80%;
    opacity: 0.7;
    position: absolute;
    top: 255px;
    display: none;
  }

  .collection-item:hover & {
    opacity: 0.85;
    display: flex;
  }
}
