.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
  width: 100%;
  align-items: center;
  padding: 25px 15px;
  box-sizing: border-box;
}

.nav {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: flex-end;
  width: 50%;
}

.nav-link {
  color: inherit;
  text-decoration: none;
  text-transform: uppercase;

  &:not(:last-of-type) {
    padding: 10px 15px;
  }
  &:last-of-type {
    padding: 10px 0px 10px 15px;
  }
}
