.collection-item {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 350px;
  position: relative;
  margin-bottom: 30px;

  @media screen and (max-width: 800px) {
    width: 40vw;
  }
  @media screen and (min-width: 801px) {
    width: 22vw;
  }
}

.image {
  background-position: center;
  background-size: cover;
  height: 95%;
  margin-bottom: 5px;
  width: 100%;

  @media screen and (min-width: 801px) {
    .collection-item:hover & {
      opacity: 0.8;
    }
  }
}

.footer {
  display: flex;
  font-size: 18px;
  height: 5%;
  justify-content: space-between;
  line-height: 18px;
  width: 100%;
}

.name {
  flex-grow: 1;
}

.collection-item [class^='CustomButton'] {
  .collection-item & {
    width: 80%;
    position: absolute;
    top: 255px;
  }

  @media screen and (max-width: 800px) {
    display: block;
    min-width: unset;
    opacity: 0.9;
    padding: 0 10px;
  }
  @media screen and (min-width: 801px) {
    display: none;
    opacity: 0.7;
  }

  .collection-item:hover & {
    display: flex;
    opacity: 0.85;
  }
}
