.checkout {
  margin: 50px auto 0;
  min-height: 90vh;
  width: 55%;
}

.table {
  border-collapse: collapse;
  width: 100%;
}

.table-header {
  border-bottom: 1px solid black;
}

.table-heading {
  font-weight: normal;
  text-align: left;
  text-transform: capitalize;

  &:not(:last-child) {
    width: 23%;
  }
  &:last-child {
    width: 8%;
  }
}

.total {
  font-size: 36px;
  text-align: right;
  width: 100%;
}
