.checkout-item {
  min-height: 100px;
  border-bottom: 1px solid darkgrey;
  font-size: 20px;
}

td {
  .checkout-item & {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

.item-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  padding-right: 15px;
}

.quantity {
  padding-left: 15px;
}

.remove-button {
  cursor: pointer;
  border: none;
  background: none;
  font-size: 15px;
  line-height: 15px;
  width: 100%;
  padding: 10px;
}
